@using Umbraco.Commerce.Portal.Models;
@using Umbraco.Commerce.Web.ViewEngines;

@inherits UmbracoCommerceRazorTemplateView<EmailModel>

<div>
    <h2>Reset Password</h2>
    <p>Hi <strong>@Model.Name</strong></p>
    <p>A password reset request has been created.</p>
    <p>
        To set a new password, please click the link below:
        <a href="@Model.Url">reset</a>
    </p>
</div>
