@using Umbraco.Commerce.Portal.Models;
@using Umbraco.Commerce.Web.ViewEngines;

@inherits UmbracoCommerceRazorTemplateView<EmailModel>
@{
	var store = await UmbracoCommerceApi.GetStoreAsync(Model.StoreId);

	var storeThemeColor = store.ThemeColor;
	var ucpThemeColor = !string.IsNullOrWhiteSpace(storeThemeColor)
		? storeThemeColor
		: "#000000";
}
<div id="ucp">
	<table style="background-color: #f5f5f5; width: 100%;">
		<tr>
			<td style="padding: 40px">
				<table style="background-color: white; width: 100%; max-width: 700px; margin: 0 auto;">
					<tr>
						<td style="padding: 40px;">
							<table style="width: 100%; border-collapse: collapse;">
								<tr>
									<td style="width: 50%; padding-bottom: 30px;">
										<h2 style="margin: 0 0 20px; font-size: 16px; line-height: 20px;">Reset Password</h2>
										<p>Hi <strong>@Model.Name</strong></p>
										<p>A password reset request has been created.</p>
										<p>
											To set a new password, please click the link below:
											<a href="@(Model.Url)" style="color: @(ucpThemeColor);">reset</a>
										</p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
