@using Umbraco.Commerce.Portal.Extensions
@inherits UmbracoViewPage
@{
    var loginPage = Model.GetPortalContainerPage(
        UmbracoCommercePortalConstants.ContentTypes.Aliases.PortalAuthPage,
        UmbracoCommercePortalConstants.ContentNodes.PortalAuthLoginPageNodeName);
}

<p class="auth__signin">
    @Umbraco.GetDictionaryValueOrDefault(UmbracoCommercePortalConstants.Localization.AuthEntries.HasAccount.Key, UmbracoCommercePortalConstants.Localization.AuthEntries.HasAccount.DefaultValue)
    <a class="auth__link" href="@(loginPage != null ? loginPage.Url() : "#")">
        @Umbraco.GetDictionaryValueOrDefault(UmbracoCommercePortalConstants.Localization.AuthEntries.SignIn.Key, UmbracoCommercePortalConstants.Localization.AuthEntries.SignIn.DefaultValue)
    </a>
</p>
