@inherits UmbracoViewPage<OrderReadOnly>

<div class="order-details__header">
    <h2 class="order-details__title">Your Order Details</h2>
    <div class="order-details__order-number">Order #@Model.OrderNumber</div>
    <div class="order-details__subtitle">Thank you for shopping with us!</div>
</div>
