@using Umbraco.Commerce.Portal.Extensions
@inherits UmbracoViewPage
@{
    var orderHistoryPage = Model.GetPortalContainerPage(UmbracoCommercePortalConstants.ContentTypes.Aliases.PortalOrderHistoryPage, null);
}

<div class="order-details__back-button">
	<a href="javascript:void(0)" class="order-details__back-link ucp-text-color"
       onclick="location.href = '@(orderHistoryPage != null ? orderHistoryPage.Url() : "/")'">
        <svg class="order-details__back-icon" viewBox="0 0 24 24">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
        </svg>
        @Umbraco.GetDictionaryValueOrDefault(UmbracoCommercePortalConstants.Localization.OrderInfoEntries.BackToOrders.Key, UmbracoCommercePortalConstants.Localization.OrderInfoEntries.BackToOrders.DefaultValue)
    </a>
</div>
