@using Umbraco.Cms.Web.Common.Models
@using Umbraco.Cms.Web.Website.Controllers
@using Umbraco.Commerce.Portal.Extensions
@inherits UmbracoViewPage
@{
    var homePage = Model.GetPortalContainerSettingByAlias(UmbracoCommercePortalConstants.ContentTypes.Properties.HomePageAlias);

    var redirectUrl = homePage != null ? homePage.Url() : "/";
}

@using (Html.BeginUmbracoForm("Logout", "UmbracoCommercePortalSurface", FormMethod.Post, new { @name = "logoutForm" }))
{
    @Html.Hidden("logoutModel.RedirectUrl", redirectUrl)

    <a href="javascript:void(0)" class="sidebar__logout" onclick="document.forms['logoutForm'].submit()">
        <svg class="sidebar__logout-icon" viewBox="0 0 24 24">
            <path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.59L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z" />
        </svg>
        @Umbraco.GetDictionaryValueOrDefault(UmbracoCommercePortalConstants.Localization.AuthEntries.SignOut.Key, UmbracoCommercePortalConstants.Localization.AuthEntries.SignOut.DefaultValue)
    </a>
}
